@model CurrentEmployeeViewModel

<h1 style="margin-bottom:50px; margin-top:15px;">Выбранный сотрудник</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Отчество</th>
            <th scope="col">Пол</th>
            <th scope="col">Должность</th>
            <th scope="col">Возраст</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.CurrentEmployee.Id</th>
            <td>@Model.CurrentEmployee.LastName</td>
            <td>@Model.CurrentEmployee.FirstName</td>
            <td>@Model.CurrentEmployee.MiddleName</td>
            <td>@Model.CurrentEmployee.Gender</td>
            <td>@Model.CurrentEmployee.Post</td>
            <td>@Model.CurrentEmployee.Age</td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Дата отпуска</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var vacation in Model.Vacations)
        {
            <tr>
                <td>@vacation.StartDate.ToString("dd/MM/yyyy") - @vacation.EndDate.ToString("dd/MM/yyyy")</td>
            </tr>
        }
        <tr>
            <td>
                <div class="input-group">
                    <input id="day" input type="number" min="1" max="31" placeholder="День" class="form-control">
                    <input id="month" input type="number" min="1" max="12" placeholder="Месяц" class="form-control">
                    <input id="year" input type="number" min="2023" max="2028" placeholder="Год" class="form-control">
                    <input id="duration" input type="number" min="1" max="14" placeholder="Продолжительность" class="form-control">
                    <button style="margin-left:5px" type="button" class="btn btn-light" onclick="insertVacation(this, @Model.CurrentEmployee.Id)">
                        Добавить
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
